DATABASE_URL=postgresql://txn_user:txn_pass@localhost:5435/transaction_db
ACCOUNT_SERVICE_URL=http://localhost:8002
RABBITMQ_URL=amqp://guest:guest@localhost:5672
PORT=8003
LOG_LEVEL=info
DAILY_TRANSFER_LIMIT=200000
HIGH_VALUE_THRESHOLD=50000
